<div class="row py-5">
    <h2 class="text-center">Nuevo Comentario</h2>
</div>


<div class="row py-5">
    <%= render "form", comment: @comment %>
</div>

<div class="row py-5">
    <%= link_to "Vuelve", root_path %>
</div>
  